<form class="wrapper" [formGroup]="form" [@slowSlide]>

    <div class="d-flex flex-column">
        <div class="p-2">What's Your name, Challenger?</div>
        <input [formControl]="name" class="form-control" placeholder="Type your name here">
        <ng-container *ngIf="name.errors">
            <div class="error">The name is too long...</div>
        </ng-container>
    </div>
    <div class="d-flex justify-content-center p-3">
        <ng-container *ngIf="name.value && name.valid">
            <button type="submit" [@slideUp] (click)="submit()" class="btn btn-success">
      OK
    </button>
        </ng-container>
    </div>

</form>