<form [formGroup]="form" class="wrapper" [@slowSlide]>

    <h2>Choose, <strong>{{name}}</strong> </h2>

    <div class="d-flex flex-column">
        <div class="p-1">Select a category</div>
        <select [formControl]="category" class="form-select">
        <option *ngFor="let category of categories" [value]="category.id">
          {{category.name}}
        </option>
      </select>
    </div>

    <div class="d-flex flex-column">
        <div class="p-1">Select a difficulty</div>
        <select [formControl]="difficulty" class="form-select">
            <option *ngFor="let difficulty of difficulties" [value]="difficulty">
                {{difficulty}}
            </option>
        </select>
    </div>

    <ng-container>
        <div class="btn-wrap d-flex flex-row justify-content-center mt-3">
            <button (click)="back()" class="btn btn-primary">
          Back
        </button>
            <button type="submit" (click)="submit()" class="btn btn-success">
          Start
        </button>
        </div>
    </ng-container>

</form>